body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #f5f5f5);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 420px;
  margin: 20px auto;
  background: white;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #1565c0;
}

.small {
  text-align: center;
  color: #777;
}

h3 {
  text-align: center;
  margin: 6px 0;
}

#next-prayer, #next-iqamah {
  background: #e8f5e9;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #2e7d32;
}

.ramadan {
  background: #fff3e0;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 12px;
  border-collapse: collapse;
}

th {
  background: #1976d2;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;

}
tr{
  text-align: center;
}
